<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Ange de la ville - Logs Prédiction</title>
    <style>
    #parallax-image{
      background-image: url("/static/bordeaux.jpg");
      height: 500px;
      margin-bottom: 50px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


    }
    #form-contenaire{
      background-color: black;
      opacity: 0.80;

      padding-top: 20px;
      padding-bottom: 20px;
      animation: 3s ease-in 1s reverse both running slidein;
    }
    form{
      
   
       
      float: none;
      margin: 0 auto; 
    }
    label{
      color: blanchedalmond;
    }
    input{
      opacity: 1;
    }
    select{
      opacity: 1;
    }
    h1{
        color: blanchedalmond;

    }
    h3{
        color: blanchedalmond;

    }
    h2{
        color:blanchedalmond; 
    }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ange de la ville</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Nouvelle prédiction</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="parallax-image">
        <div class="container py-5">
          <div class="row h-100" id="form-contenaire">
            <form action="./predict" method="post" class="col-md-10 center">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="typedebien">Type de bien :</label>
                  <select name="typedebien" class="form-control">
                    <option value="Appartement" selected>Appartement</option>
                    <option value="Maison / Villa">Maison / Villa</option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label for="typedetransaction">Type de transaction :</label>                  
                  <select name="typedetransaction" class="form-control">
                    <option value="['vente de prestige']">Vente de prestige</option>
                    <option value="['vente']">Vente</option>
                  </select>
                </div>
              </div>


                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="codepostal">Code Postal</label>              
                    <select name="codepostal" class="form-control">
                      <option value="33000">33000</option>
                      <option value="33100">33100</option>
                      <option value="33000">33200</option>
                      <option value="33100">33300</option>
                      <option value="33000">33800</option>
                    </select>
                  </div>
          

                  <div class="col-sm-6">
                    <label for="surface">Surface</label>
                    <input type="number" class="form-control" name="surface">
                  </div>
                </div>
            

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="etage">Etage</label>
                    <input type="number" class="form-control" name="etage">                 
                  </div>

                  <div class="col-sm-6">
                    <label for="nb_pieces">Nombre de pièces</label>
                    <select name="nb_pieces" class="form-control">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="8">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="8">9</option>
                      <option value="8">10</option>
                    </select>
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="nb_chambres">Nombre de chambres :</label>
                    <select name="nb_chambres" class="form-control">
                      <option value="0" selected>0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="8">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="8">9</option>
                      <option value="8">10</option>
                    </select>
                </div>
             
              
                <div class="col-sm-6">
                  <label for="idtypechauffage">Type de Chauffage</label>             
                  <select name="idtypechauffage" class="form-control">
                    <option value="individuel">Individuel électrique</option>
                    <option value="individuel électrique">Individuel électrique</option>
                    <option value="individuel électrique radiateur">Individuel électrique radiateur</option>
                    <option value="gaz">Gaz</option>
                    <option value="individuel électrique">Individuel gaz radiateur</option>
                    <option value="mixte">Mixte</option>
                    <option value="électrique">Electrique</option>
                    <option value="individuel gaz sol">Individuel gaz sol</option>
                    <option value="gaz radiateur">Gaz radiateur</option>
                    <option value="électrique mixte">Electrique mixte</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="idtypecuisine">Cuisine</label>
                  <select name="idtypecuisine" class="form-control">
                    <option value="aucune">Aucune</option>
                    <option value="coin cuisine">Coin cuisine</option>
                    <option value="équipée">équipée</option>
                    <option value="séparée">Séparée</option>
                    <option value="	séparée équipée">Séparée équipée</option>
                    <option value="américaine">américaine</option>
                    <option value="américaine équipée">américaine équipée</option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label for="si_sdbain">Salle de bain :</label>
                  <select name="si_sdbain" class="form-control">
                    <option value="0" selected>Non</option>
                    <option value="1">Oui</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="si_sdEau">Salle d'eau :</label>
                  <select name="si_sdEau" class="form-control">
                    <option value="0" selected>Non</option>
                    <option value="1">Oui</option>
                  </select>
                </div>
                
                <div class="col-sm-6">
                  <label for="si_balcon">Balcon :</label>
                  <select name="si_balcon" class="form-control">
                    <option value="0" selected>Non</option>
                    <option value="1">Oui</option>
                  </select>
                </div>
              </div>



            <button type="submit" class="btn btn-outline-light">Estimer le prix du bien</button>
          </form>
          </div>
        </div>
      </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>